@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#features1-c H4 {
  color: #990f0b;
}
#features1-c P {
  color: #090b42;
}
#slider-9 H2 {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
}
#contacts3-a DIV {
  color: #ffffff;
}
#contacts3-a P {
  color: #ffffff;
}
#dropdown-menu-2btn-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-b .nav .link,
#dropdown-menu-2btn-b .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-b .navbar,
#dropdown-menu-2btn-b .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-b .dropdown-menu a:hover,
#dropdown-menu-2btn-b .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-b .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-b STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-f STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-g DIV {
  color: #05386b;
}
#contacts3-e DIV {
  color: #ffffff;
}
#contacts3-e P {
  color: #ffffff;
}

#contacts3-i DIV {
  color: #ffffff;
}
#contacts3-i P {
  color: #ffffff;
}
#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-j STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#contacts3-l DIV {
  color: #ffffff;
}
#contacts3-l P {
  color: #ffffff;
}
#dropdown-menu-2btn-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-m .nav .link,
#dropdown-menu-2btn-m .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-m .navbar,
#dropdown-menu-2btn-m .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-m .dropdown-menu a:hover,
#dropdown-menu-2btn-m .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-m .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-m STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#contacts3-o DIV {
  color: #ffffff;
}
#contacts3-o P {
  color: #ffffff;
}
#dropdown-menu-2btn-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-p .nav .link,
#dropdown-menu-2btn-p .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-p .navbar,
#dropdown-menu-2btn-p .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-p .dropdown-menu a:hover,
#dropdown-menu-2btn-p .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-p .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-p STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#contacts3-r DIV {
  color: #ffffff;
}
#contacts3-r P {
  color: #ffffff;
}
#dropdown-menu-2btn-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-s .nav .link,
#dropdown-menu-2btn-s .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-s .navbar,
#dropdown-menu-2btn-s .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-s .dropdown-menu a:hover,
#dropdown-menu-2btn-s .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-s .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-s STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#contacts3-u DIV {
  color: #ffffff;
}
#contacts3-u P {
  color: #ffffff;
}
#dropdown-menu-2btn-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-v .nav .link,
#dropdown-menu-2btn-v .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-v .navbar,
#dropdown-menu-2btn-v .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-v .dropdown-menu a:hover,
#dropdown-menu-2btn-v .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-v .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-v STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#contacts3-x DIV {
  color: #ffffff;
}
#contacts3-x P {
  color: #ffffff;
}
#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-y STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}

#content5-13 DIV {
  color: #05386b;
}
#dropdown-menu-2btn-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-11 .nav .link,
#dropdown-menu-2btn-11 .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-11 .navbar,
#dropdown-menu-2btn-11 .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-11 .dropdown-menu a:hover,
#dropdown-menu-2btn-11 .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-11 .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-11 STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-10 DIV {
  color: #ffffff;
}
#contacts3-10 P {
  color: #ffffff;
}
